/* Code Highlighting Style for Pygments or Rouge */
/* Solarized Light Color Scheme by Ethan Schoonover */
/* http://ethanschoonover.com/solarized */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

.highlight {
  color: $base0;
  background: $base03;
  
  // Style for line numbers
  .linenos { color: $base01; }

  .bp { color: $base01; } // Name.Builtin.Pseudo
  .c { color: $base01; font-style: italic } // Comment
  .c1 { color: $base01; font-style: italic } // Comment.Single
  .cm { color: $base01; font-style: italic } // Comment.Multiline
  .cp { color: $red; font-weight: bold } // Comment.Preproc
  .cs { color: $base01; font-weight: bold; font-style: italic } // Comment.Special
  .err { color: $base0; background-color: $red; } // Error
  .gd .x { color: $base0; background-color: $magenta; } // Generic.Deleted.Specific
  .gd { color: $base0; background-color: $magenta; } // Generic.Deleted
  .ge { font-style: italic; } // Generic.Emph
  .gh { color: $base01; } // Generic.Heading
  .gi .x { color: $base0; background-color: $base02; } // Generic.Inserted.Specific
  .gi { color: $green; background-color: $base02; } // Generic.Inserted
  .go { color: $base0; } // Generic.Output
  .gp { color: $base1; } // Generic.Prompt
  .gr { color: $base0; background-color: $red; } // Generic.Error
  .gs { font-weight: bold; } // Generic.Strong
  .gt { color: $red; background-color: $base02; } // Generic.Traceback
  .gu { color: $base1; } // Generic.Subheading
  .il { color: $magenta; } // Literal.Number.Integer.Long
  .k { color: $blue; } // Keyword
  .kc { color: $blue } // Keyword.Constant
  .kd { color: $blue } // Keyword.Declaration
  .kp { color: $blue } // Keyword.Pseudo
  .kr { color: $blue } // Keyword.Reserved
  .kt { color: $yellow; } // Keyword.Type
  .m { color: $magenta; } // Literal.Number
  .mf { color: $magenta; } // Literal.Number.Float
  .mh { color: $magenta; } // Literal.Number.Hex
  .mi { color: $magenta; } // Literal.Number.Integer
  .mo { color: $magenta; } // Literal.Number.Oct
  .n { color: $base1; } // Name
  .na { color: $base0; } // Name.Attribute
  .nb { color: $cyan; } // Name.Builtin
  .nc { color: $green; } // Name.Class
  .ne { color: $blue;  } // Name.Exception
  .nf { color: $yellow; } // Name.Function
  .ni { color: $base0; } // Name.Entity
  .nl { color: $green; }
  .nn { color: $orange; } // Name.Namespace
  .no { color: $yellow; } // Name.Constant
  .nt { color: $blue; } // Name.Tag
  .nv { color: $yellow; } // Name.Variable
  .p { color: $base1; } // Parentheses
  .o { color: $base0; } // Operator
  .ow { font-weight: bold } // Operator.Word
  .s { color: $orange; } // Literal.String
  .s1 { color: $orange; } // Literal.String.Single
  .s2 { color: $orange; } // Literal.String.Double
  .sb { color: $orange; } // Literal.String.Backtick
  .sc { color: $orange; } // Literal.String.Char
  .sd { color: $orange; } // Literal.String.Doc
  .se { color: $orange; } // Literal.String.Escape
  .sh { color: $orange; } // Literal.String.Heredoc
  .si { color: $orange; } // Literal.String.Interpol
  .sr { color: $green; } // Literal.String.Regex
  .ss { color: $magenta; } // Literal.String.Symbol
  .sx { color: $red; } // Literal.String.Other
  .vc { color: $yellow; } // Name.Variable.Class
  .vg { color: $yellow; } // Name.Variable.Global
  .vi { color: $yellow; } // Name.Variable.Instance
  .w { color: $base02; } // Text.Whitespace
}