      {% include header.html %}
      <section>  
        {{ content }}
      </section>
      <section>
        {% for post in site.posts %}
          {% unless post.category == "apprenticeship-details" %}
        <article class="post">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

          <p>
            {{ post.excerpt }}
          </p>

          <p>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          </p>

        </article>
          {% endunless %}
        {% endfor %}
      </section>
      {% include footer.html %}